<section class='comments-main-section'>
  <div class='today-comments <%= comment[:highlight] ? 'highlight-container' : '' %> '>
    <div class='comment-nd'>
      <div class= "name-date"> 
        <h2 class='comment-name'><%= comment.name %></h2>
        <p class='comment-time'><%= comment.hour %></p>
      </div>
      <div class= "likes">
        <p> <%= comment.likes.count %> </p>
        <%= button_to student_comment_toggle_like_path(comment.student, comment) do %>
          <div class='<%= comment.likes.where(user_id: current_user.id).exists? ? 'liked' : '' %> '>
            <%= image_tag "Vector.svg", class:'comment-svg' %>
          </div>
        <% end %>
      </div>
    </div>
    <p class ="comment-p"><%= comment.user_comment %> </p>
    <div class="files">
      <% comment.files.each do |doc| %>
        <%= link_to doc.identifier, doc.url %>
      <% end %>
    </div>
    <details>
      <summary></summary>
      <% comment.answers.each do |answer| %>
        <div class="answer">
          <div class="comment-nd">
            <div class= "name-date"> 
              <h2 class='comment-name'><%= answer.user.first_name %></h2>
              <p class='comment-time'><%= answer.created_at.to_fs(:time) %></p>
            </div>
          </div>
          <p><%= answer.body %> </p>
        </div>
      <% end %>
      <%= form_with url:student_comment_answers_path(student, comment.id), method: :post do |form| %>
        <%= form.text_area :body, class: 'comment-area answer-input', placeholder: t('.post-placeholder') %>
          <%= image_submit_tag 'send.svg', class:'send-img' %>
      <% end %>
    </details>
  </div>
</section>