<tr class='user'>
  
  <td class='name'> <%= link_to "#{student.full_name}", student_path(student.id), class: 'student-links'  %> </td>
  <td class='name'> <%= student.age %> </td>
  <td class='name'> <%= student.grade  %> </td>
  <td class='name'> <%= student.attendance  %> </td>
  <% if policy(student).update? %>
    <td> <%= link_to edit_student_path(student), data: { turbo_frame: 'modal' } do%>
      <div class="edit-icon">
      </div>
    <% end %> 
    </td>
  <% end %> 
  <td>
    <div class="delete-icon"></div>
  </td>
</tr>