<tr class='tr-row-data'>
  <td class='table-data td-link'> <%= link_to "#{student.full_name}", student_path(student.id), class: 'student-links'  %> </td>
  <td class='table-data'> <%= student.age %> </td>
  <td class='table-data'> <%= student.grade  %> </td>
  <td class='table-data'> <%= student.attendance  %> </td>
  <td> 
    <div class='table-button-center'>
      <% if policy(student).update? %>
        <%= link_to edit_student_path(student), data: { turbo_frame: 'modal' } do%>
          <div class="edit-icon">
          </div>
        <% end %> 
      <% end %>
    </div>
  </td> 
  <td>
    <div class='delete-button'>
      <% if policy(student).destroy? %>
        <%= link_to student_delete_modal_path(student.id), data: { turbo_frame: 'delete-modal' } do%>
          <div class="delete-icon table-button-center">
          </div>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>