<div class='home-container' id='modal-background'>
  <div class="search-bar">
    <div class='button-filter'>
      <%= form_with(url: students_path, method: :get, scope: :user_filter) do |f| %> 
      <%= f.text_field :full_name , class: "filter"%>
      <div class="lupa-icon">
        <%= image_submit_tag("magnifying-glass-solid.svg")%>
      </div>
      <% end %> 
    </div>
    <%= link_to new_student_path, data: { turbo_frame: 'modal' } do%>
      <div class="create-user">  
        <div class="user-icon"></div>
          <p class= "button-new"><%=t('.new_student')%></p>
          <div class="button-new">
          </div>
      </div>
    <% end %>
  </div> 
  <div class='table-container'>
    <table class='table-class'>
      <thead>
        <tr>
          <th class='table-head'> <%= t('.students')%> </th> 
          <th class='table-head'> <%= t('.age') %> </th>
          <th class='table-head'> <%= t('.school_grade') %> </th>
          <th class='table-head'> <%= t('.attendance') %> </th>
          <th class='table-head'></th>
        <tr>
      </thead>
      <tbody>
        <%= render partial: "student", collection: @presenter.students %>
      </tbody>
    </table>
  </div> 
  <div class='pagination-var'>
    <%== pagy_nav(@presenter.pagynate) %>
  </div>
</div>
