<body class="show-student-body">
  <div class='home-container-student' id='modal-background'>
    <div class='bread-crum-nav'>
      <%= link_to t('.students'), students_path, class: 'student-links' %>
      <p><strong>&nbsp;>&nbsp;</strong></p>
      <p class='student-links'> <%= @student.full_name %> </p>
    </div>
    <div class='show-container'>
      <aside left class='side-bar'>
      <section class='student-info vl'>
        <h1 class="profile-name"><%= @student.full_name %></h1>
        <div class='student-description'>
          <h2 class= "show-h2"><%= t('.student-data') %> </h2>
          <h3 class="title-info"><%= t('.birth_date')%> </h3>
          <p class="field-info"><%= @student.birth_date %> </p>
          <h3 class="title-info"><%= t('.address')%> </h3>
          <p class="field-info"><%= @student.address %></p>
          <h3 class="title-info"><%= t('.grade')%></h3>
          <p class="field-info"><%= @student.grade %></p>
          <h3 class="title-info"><%= t('.attendance')%></h3>
          <p class="field-info"><%= @student.attendance %></p>
          <h3 class="title-info"><%= t('.favorite-subjects')%></h3>
          <p class= "school-subjects"><%= t('.subject1')%></p>
          <h3 class="title-info"><%= t('.most-dificult-subject')%></h3>
          <p class= "school-subjects"><%= t('.subject2')%></p>
        </div>
        <div class='student-objectives'>
          <div class="obj-title">
            <h2><%= t('.objectives')%></h2>
            <div class="image">
              <%= image_tag 'plus-circle.png' %>
            </div>
          </div>
          <%=form_with url: students_path, scope: :student, method: :post do |form|%>
            <div class= "student-show-label"> 
              <%= form.check_box :alphabet %>
              <%= form.label :alphabet, t('.learn-alfabet')  %>
            </div>
            <div class= "student-show-label"> 
              <%= form.check_box :tables, class: 'remember-me'%>
              <%= form.label :tables, t('.learn-tables') %>
            </div>
          <%end%>
        </div>
      </section>
    </aside>
    <section class='comments-container'>
        <%= render partial: "post_comment", locals: {student: @student} %>
        <% @comments.each do |key, comments| %>
          <h3 class= "date-h3"> <%= (key.to_date == Date.today ) ? t('.today') : key.to_date %> </h3>
          <%= render partial: "comment" , collection: comments, locals: { student: @student } %>
        <% end %>
    </section>
  </div>
</body>

