<div class='home-container' id='modal-background'>
  <div class='top-navbar'>
    <div class='burger-menu'>
      <%= image_tag( "bars-solid.svg", class: 'menu-icon') %>
      <%= button_to t('.log-out'), logout_path, method: :delete  %>
    </div>
    <div class="home-student">
      <div>
        <%= image_tag("house-solid.svg", class: 'home-icon')%>
      </div>
      <h1 class='student'><%= t('.student') %></h1>
    </div>
    <h1 class='username'> <%= current_user.first_name %> </h1>
  </div>
  <div class='bread-crum-nav'>
    <%= link_to "Estudiantes->", students_path, class: 'student-links' %>
    <%= link_to "#{@student.full_name}", student_path(@student.id), class: 'student-links'  %>
  </div>
  <div class='show-container'>
    <aside left class='side-bar'>
    <section class='student-info'>
      <h1><%= @student.full_name %></h1>
      <div class='student-description'>
        <h2 class= "show-h2">Datos del estudiante</h2>
        <h3>Fecha de nacimiento</h3>
        <p><%= @student.birth_date %></p>
        <h3>Domicilio</h3>
        <p><%= @student.address %></p>
        <h3>Grado de escolaridad</h3>
        <p><%= @student.grade %></p>
        <h3>Escolarizado</h3>
        <p><%= @student.attendance %></p>
        <h3>Materia preferida</h3>
        <p class= "school-subjects">Programacion</p>
        <h3>Materia con mayor dificultad</h3>
        <p class= "school-subjects">DBD</p>
      </div>
      <div class='student-objectives'>
        <div class="obj-title">
          <h2>Objetivos</h2>
          <div class="image">
            <%= image_tag 'plus-circle.png' %>
          </div>
        </div>
        <%=form_with url: students_path, scope: :student, method: :post do |form|%>
          <div class= "student-show-label"> 
            <%= form.check_box :alphabet %>
            <%= form.label :alphabet, "Aprender el abecedario"  %>
          </div>
          <div class= "student-show-label"> 
            <%= form.check_box :tables, class: 'remember-me'%>
            <%= form.label :tables, "Aprender las tablas" %>
          </div>
        <%end%>
      </div>
    </section>
  </aside>
  <section class='comments-container'>
    <%= render partial: "post_comment"%>
  </section>
</div>

