<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal", turbo_modal_target: "modal", action: 
    "turbo:submit-end->turbo-modal#submitEnd 
    keyup@window->turbo-modal#closeWithKeyboard 
    click@window->turbo-modal#closeBackground" } do %>
    <%= button_tag 'X', class: 'close', data: { action: "turbo-modal#closeModal" }, type: "button"%>
    <h1 class='m-title'><%= t('.title-edit') %></h1>
    <%= form_with url: user_path(@user), scope: :user, method: :put do |form| %>
      <div class="m-login-form">
        <div class="m-item">
          <%= form.label :name_user,t('.first_name_edit'), class: 'label-form'%>
          <%= form.text_field :first_name, class: 'input-form'%>
        </div>
        <div class="m-item">
          <%= form.label :name_user,t('.last_name_edit'), class: 'label-form'%>
          <%= form.text_field :last_name, class: 'input-form'%>
        </div>
        <div class="m-item">
          <%= form.label :email, t('.email_edit'), class: 'label-form' %>
          <%= form.text_field :email, class: 'input-form', :readonly => true %>
        </div>
         <div class='items'>
           <%= form.label :role, 'rol', class: 'label-form' %>
            <%= form.select :role, options_for_select(User.roles.keys, selected: @user.role), {}, { class: "form-control" } %>
          </div>
        <div>
          <%= form.submit :value => t('.search_edit'), class: 'm-login-button'%>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>