<div class='home-container' id='modal-background'>
  <div class="search-bar">
    <div class='button-filter'>
      <%= form_with(url: users_path, method: :get, scope: :user_filter) do |f| %> 
      <%= f.text_field :full_name , class: "filter"%>
      <div class="lupa-icon">
        <%= image_submit_tag("magnifying-glass-solid.svg")%>
      </div>
      <% end %> 
    </div>
    <%= link_to  new_user_path, data: { turbo_frame: 'modal' } do %>
      <div class="create-user">  
        <div class="user-icon"></div>
        <p class= "button-new"><%= t('.new-user') %> </p>
          <div class="button-new">
          </div>
      </div>
    <%end%>
  </div>
  <div class='table-container'> 
    <table class='table-class'>
      <thead>
        <tr>
          <th class='table-head'> <%= t('.users')%> </th> 
          <th class='table-head'> <%= t('.email')%> </th>
          <th class='table-head'> <%= t('.role') %> </th>
          <th class='table-head'> <%= t('.active') %> </th>
          <th class='table-head'> <%= t('.edit') %> </th>
          <th class='table-head'> <%= t('.menu') %> </th>
          <th class='table-head'></th>
          <th class='table-head'></th>
        <tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class='tr-row-data'>
            <td class='table-data'> <%= user.first_name %> <%= user.last_name %> </td>
            <td class='table-data'> <%= user.email %> </td>
            <td class='table-data'>
              <%= user.role %>
            </td>         
            <%# Activate switch %>  
            <td>
              <div class='table-button-center'>
                <%= form_with(model: user, url: user_toggle_active_path(user), method: :put) do |form| %>
                  <div class="toggle-button" data-controller="users">
                    <%= form.check_box :active, data:{users_target:"checkbox", action:"users#toggleActive"} ,id:user.id   %>
                    <label class="" for=<%=user.id%>><%= form.submit %></label>
                  </div>
                <% end %>
              </div>
            </td>
            <td> 
              <div class='table-button-center'>
                <%= link_to edit_user_path(user), data: { turbo_frame: 'modal' } do%>
                  <div class="edit-icon"></div>
                <% end %> 
              </div>
            </td>
            <td>
              <div class='table-button-center'>
                <div class="menu-modal-icon"></div>
              </div>
            </td>
            <td>
              <div class="delete-button">
                <div class='delete-icon table-button-center'>
                  <%= link_to users_path(user.id), data: { turbo_frame: 'delete-modal' } do %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='pagination-var'>
    <%== pagy_nav(@pagy) %>
  </div>
</div>