<div class='home-container' id='modal-background'>
  <div class='top-navbar'>
    <div class='burger-menu'>
      <%= image_tag( "bars-solid.svg", class: 'menu-icon') %>
      <%= button_to t('.log-out'), logout_path, method: :delete  %>
    </div>
    <div class="home-student">
      <div>
        <%= image_tag("house-solid.svg", class: 'home-icon')%>
      </div>
      <h1 class='student'><%= t('.student') %></h1>
    </div>
    <h1 class='username'> <%= current_user.first_name %> </h1>
  </div>
  <div class="search-bar">
    <%= render partial: '/errors/errors' %>
    <div class='button-filter'>
      <%= form_with(url: users_path, method: :get, scope: :user_filter) do |f| %> 
      <%= f.text_field :full_name , class: "filter"%>
      <div class="lupa-icon">
        <%= image_submit_tag("magnifying-glass-solid.svg")%>
      </div>
      <% end %> 
    </div>
    <div class="create-user">  
      <div class="user-icon"></div>
        <div>
          <%= link_to t('.new-user'), new_user_path, data: { turbo_frame: 'modal' }%>
        </div>
    </div>
  </div> 
  <table class= 'user-container'>
    <thead>
      <tr class='user-th'>
        <th> <%= t('.students')%> </th> 
        <th> <%= t('.email')%> </th>
        <th> <%= t('.active') %> </th>
        <th> <%= t('.edit') %> </th>
        <th> <%= 'Menu' %> </th>
        <th> <%= 'Delete' %> </th>
      <tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          <% @users.each do |user| %>
            <tr class='user'>
              <td class='name'> <%= user.first_name %> <%= user.last_name %> </td>
              <td class='email-users'> <%= user.email %> </td>
              <%# Activate switch %>  
              <td class='toggle-button'>
                <%= form_with(model: user, url: user_toggle_active_path(user), method: :put) do |form| %>
                <div class="toggle-button" data-controller="users">
                  <%= form.check_box :active, data:{users_target:"checkbox", action:"users#toggleActive"} ,id:user.id   %>
                  <label class="" for=<%=user.id%>><%= form.submit %></label>
                </div>
                <% end %>
              </td>
              <td ><%= link_to edit_user_path(user), data: { turbo_frame: 'modal' } do%>
                <div class="edit-icon">
                </div>
              <% end %> 
              </td>
              <td>
                <div class="menu-modal-icon"></div>
              </td>
              <td>
                <div class="delete-icon"></div>
              </td>
            </tr>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class='pagination-var'>
    <%== pagy_nav(@pagy) %>
  </div>
</div>