<h1>Login</h1>
<%= form_with  do |form| %>
      <div>
        <%= form.label :email_user %><br>
        <%= form.text_field :email_user %>
      </div>
      <div>
        <%= form.label :password %><br>
        <%= form.number_field :password %><br>
      </div>
      <button>recordarme</button>
      <div>
     
        <%= form.submit%> 
      </div>
    <%= link_to "forget my password" %>
    <%= link_to "login with my google account "  %>
<% end %> 
  