<section class='comments-main-section'>
  <div class='today-comments <%= post[:highlight] ? 'highlight-container' : '' %> '>
    <div class='comment-nd'>
      <div class= "name-date"> 
        <h2 class='comment-name'><%= post.name %></h2>
        <p class='comment-time'><%= post.hour %></p>
      </div>
      <div class= "likes">
        <p> <%= post.likes.count %> </p>
        <%= button_to post_toggle_like_path(post) do %>
          <div class='<%= 'liked' if post.decorate.like? %>'>
            <%= image_tag "Vector.svg", class:'comment-svg' %>
          </div>
        <% end %>
      </div>
    </div>
    <p class ="comment-p"><%= post.user_comment %></p>
    <div class="files">
      <% post.files.each do |doc| %>
        <%= link_to doc.identifier, doc.url %>
      <% end %>
    </div>
    <details>
      <summary></summary>
      <% post.answers.each do |answer| %>
        <div class="answer">
          <div class="comment-nd">
            <div class= "name-date"> 
              <h2 class='comment-name'><%= answer.user.first_name %></h2>
              <p class='comment-time'><%= answer.created_at.to_fs(:time) %></p>
            </div>
          </div>
          <p><%= answer.body %> </p>
        </div>
      <% end %>
      <%= form_with url: post_answer_path(post), method: :post do |form| %>
        <%= form.text_area :body, class: 'comment-area answer-input', placeholder: t('.post-placeholder') %>
          <%= image_submit_tag 'send.svg', class:'send-img' %>
      <% end %>
    </details>
  </div>
</section>