<h1>Register</h1>
  <%= form_with  do |form| %>
      <div>
        <%= form.label :name_user %><br>
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.label :email %><br>
        <%= form.number_field :email %><br>
      </div>
      <div>
        <%= form.label :password %><br>
        <%= form.number_field :password %><br>
      </div>
      <div>
        <%= form.label :confirm_password %><br>
        <%= form.number_field :confirm_password%><br>
      </div>
      <div>
        <%= form.submit%> 
      </div>
    
    <% end %> 
  <%= link_to "register with google" %>