<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= t('.title') %></title>
</head>
<body>
   
	<div class="container">

		<div class='main-box'>
			<div class='navbar  '>
      <%= link_to 'Login', '/login', class: "link #{current_page?('login') ? 'current-page' : ''}" %>
				<%= link_to 'Register', '/register', class: "link" %> 
        <hr id='line'>
			</div>
  <div class='section'>
      <div class='globe-photo'>
			<%= image_tag 'Frame.png'%>
      </div>

      <div>
        <h1 class='title'><%= t('.login') %></h1>
        <%= form_with  do |form| %>
          <div class='login-form'>
            <div class="item">
              <%= form.label :email, t('.email'), class: 'email-label' %>
              <%= form.text_field :email, class: 'email-text', placeholder: 'admin@admin.com' %>
            </div>

            <div class="item">
              <%= form.label :password, t('.password'), class: 'password-label' %>
              <%= form.number_field :password, class: 'password-text' %>
            </div>

            <div class='remember-me'>
              <%= form.check_box :remember_me, class: 'remember-me' %>
              <%= form.label :remember_me, t('.remember-me'), class: 'remember-me-label' %>
            </div>

              <%= form.submit :value => t('.login'), class: 'login-button'%> <br>
              <%= link_to t('.recover-password'), class: 'recover-password' %> <br>

              <div class="login-google">
                <%= image_tag 'google.png'%>
              <%= link_to t('.google-login') %>
            </div>
            
          </div>
        <% end %> 
            
      </div>

		</div>
	</div>




</body>
</html>