<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
   
	<div class="conteiner">

		<div class='main-box'>
			<div class="navbar">
				<%= link_to 'Login', '/login'%>
				<%= link_to 'Register', '/register'%>
        <hr id='line'>
			</div>

      <div class='section'>
        <div class='globe-photo'>
        <%= image_tag 'Frame.png', class: 'globe-photo'%>
        </div>

        <div>
          <h1 class='title'>Registro</h1>
          <%= form_with  do |form| %>
          <div class="login-form">
            <div class="item">
            <%= form.label :name_user, class: 'email-label'%>
            <%= form.text_field :name, class: 'email-text'%>
          </div>
          <div class="item">
            <%= form.label :email,  class: 'email-label'%>
            <%= form.text_field :age, class: 'password-text' %>
          </div>
          <div class='remember-me'>
            <%= form.label :password, class: 'email-label'%>
            <%= form.text_field :password,class: 'password-text' %>
          </div>
          <div class='remember-me'>
            <%= form.label :confirm_password,class: 'email-label' %>
            <%= form.text_field :confirm_password,class: 'password-text' %>
          </div>
          <div>
            <%= form.submit :Registrarme, class: 'login-button'%>
          </div>
         
            <div class="login-google">
              <%= image_tag 'google.png'%>
              <%= link_to 'register with google'%>
            </div>
                 
          <% end %> 
        

		    </div>
	    </div>


		</div>
  </div>


</body>
</html>