<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= t('.title') %> </title>
</head>
<body>
  <div class="container">
    <div class='main-box'>
      <div class="navbar">
        <%= link_to t('.login'), '/login', class: "link #{current_page?('login') ? 'current-page' : ''}" %>	
        <%= link_to t('.registernav'), '/register', class: "link" %> 
        <hr id='line'>
      </div>
      <div class='section'>
        <div class='globe-photo'>
          <%= image_tag 'Frame.png'%>
        </div>
      <div>
        <h1 class='title'><%= t('.title') %></h1>
        <%= form_with do |form| %>
          <div class="login-form">
            <div class="item">
              <%= form.label :name_user,t('.name-user'), class: 'label-form'%>
              <%= form.text_field :name, class: 'input-form'%>
            </div>
            <div class="item">
              <%= form.label :email, t('.email'), class: 'label-form'%>
              <%= form.text_field :age, class: 'input-form'%>
            </div>
            <div class='item'>
              <%= form.label :password, t('.password'), class: 'label-form'%>
              <%= form.password_field :password,class: 'input-form'%>
            </div>
            <div class='item'>
              <%= form.label :confirm_password, t('.confirm-password'), class: 'label-form'%>
              <%= form.password_field :confirm_password,class: 'input-form' %>
            </div>
            <div>
              <%= form.submit :value => t('.register'), class: 'login-button'%>
            </div>

            <div class="login-google">
              <%= image_tag 'google.png'%>
              <%= link_to t('.google-login')%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>