<div class='top-navbar' data-controller='modal-logout'>
  <div class='burger-menu'>
    <%= image_tag( "bars-solid.svg", class: 'menu-icon') %>
  </div>
  <div class="home-student">
    <div>
      <%= link_to home_path do %>
        <%= image_tag("home.svg", class: 'home-icon')%>
      <% end %>
    </div>
    <%= link_to students_path, class:'student' do %>
      <h1> <%=  t('students.index.students') %> </h1>
    <% end %>
  </div>
  <div class="logged-user">
    <span data-action="click->modal-logout#hideModal">
     <h1> <%= current_user.first_name %> <%= current_user.last_name %></h1>
    </span>
    <div class="hidden" data-modal-logout-target="hideButton">
      <%= button_to logout_path, class:'logout-btn', method: :delete do %>
        <span class="text-button"> <p><%= t('session.logout_button') %></p></span>
        <%= image_tag 'log-out.svg' %>
      <% end %>
    </div>
  </div>
</div>