<!DOCTYPE html>
<html>
  <head>
    <title>StGrupo2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% flash.each do |type, msg| %>
    <% case type when "warning" %>
    <div class="warning">
      <%= msg %>
    </div>
    <% when "success" %>
      <div class="success">
        <%= msg %>
      </div>
    <% when "notice" %>
      <div class="notice">
        <%= msg %>
      </div>
    <% end %>
    <% end %>
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "delete-modal" %>
    <%= yield %>
  </body>
</html>
